body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

h1{
    color: pink;
    
}

a:link {
  text-decoration: none;
}

hr{
    color: black;
}

p{
   color: slategray; 
}

h2{
    color: mediumaquamarine;
}
 
.title{
    text-align: center;
    background-color: black;
}

.welcome{
    color: hotpink;
    padding: 15px;
    background-color: white;
}

.me{
    text-align: right;
}

#logos img{
    height: 100px;
}

.languages{
    font-size: 25px;
}

.project{
    width: 350px;
}



.top{
    position: sticky;
    margin: 0;
    list-style-type: none;
    height: auto;
    border: 1px solid #555;
    width: 100%;
    background-color: mediumaquamarine;
    top: 0;
    overflow: hidden;
}

li a {
    float: left;
    display: block;
    font-weight: bolder;
    color: aliceblue;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
    border-bottom: 1px solid #555;
}

li a.selected{
    background-color: slategray;
}

li a:hover:not(.selected) {
    background-color: lightpink;
}
li:last-nav{
    border-bottom: none;
}
  
section{
    background-color: #555;
}

.me-description{
    background-color: black;
    padding: 75px;
    border: 1px solid #555;
    border-bottom: 3px solid;
}
#skills{
    font-size: 28px;
}
.coding-languages{
    background-color: lightpink;
    padding: 25px;
    border: 1.5px solid #555; 
    border-bottom: none;
}
.coding-projects{
    background-color: black;
    padding: 75px;
    border-left: 1.5px solid #555;
    border-right: 1px solid #555;
    
}

.contact-info{
    padding-top: 50px; 
    border-bottom: none; 
    background-color: white;
}

#projects{
    font-size: 35px;
}

 .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . ."
      ". . .";
  }

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 26px 39px;
        grid-auto-flow: row;
        grid-template-areas:
          ". ."
          ". .";
    }






