body {
  font-family: Proxima Nova, Montserrat;
  background-attachment: fixed;
  background-image: url("images/pink-codingg.jpeg");
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
  display: block;
  z-index: -10;
  width: auto;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
  color: white;
}
span {
  display: flex;
  justify-content: left;
}

.title-page {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: black;
  clip-path: polygon(0 0%, 100% 100%, 0 100%, 0 23%);
  z-index: -1;
}

.intro {
  text-align: left;
  padding: 19%;
  /* margin: 0; */
  font-size: x-large;
  color: whitesmoke;
}

section {
  overflow: none;
  background-color: whitesmoke;
  padding: 5%;
  border: 1px solid #555;
  border-bottom: 3px solid;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
  color: black;
  margin-top: 10%;
  display: block;
  justify-content: center;
}

#contact-logos img{
  height: 200px;
}

.coding-languages {
  background-color: whitesmoke;
  padding: 25px;
  border: 3px solid black;
  padding-bottom: 1em;
  width: 100%;
  display: inline-block;
  margin-left: -30px;
}

.coding-projects {
  background-color: whitesmoke;
  padding: 25px;
  border: 3px solid black;
  padding-bottom: 1em;
  width: 100%;
  display: inline-block;
  margin-left: -30px;
}

.language-box {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin-top: 20px;
  margin-left: 20px;
  padding: 10px;
  text-align: center;
  background-color: whitesmoke;
  border: solid 2px purple;
}

.language-box img {
  display: inline-block;
  width: 115px;
  height: 115px;
}

.project-box {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin-top: 20px;
  margin-left: 20px;
  padding: 10px;
  text-align: center;
  background-color: whitesmoke;
  border: solid 2px purple;
}


.project-box img {
  display: inline-block;
  width: 200px;
  height: 150px;
}

/* Add some padding inside the card container */
.language-container {
  padding: 2px 16px;
  border: solid 2px pink;
}

.projects-container {
  padding: 2px 16px;
  border: solid 2px pink;
}

/* Float four columns side by side */
.column {
  float: left;
  padding: 0 10px;
  width: 30%;
  display: inline;
}

/* Remove extra left and right margins, due to padding */
.top_row {
  margin: 0 -5px;
  width: 100%;
}

/* Clear floats after the columns */
.top_row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}


















